---
# Frontmatter comment to ensure Jekyll properly reads file.
---

/*===========================================================================*/
/* variables                                                                 */
/*===========================================================================*/
$black: #3a3a3a;
$white: #ffffff;
$gold: #ffbd41;
$blue: #007ef6;
$deep-blue: #4183D7;

/*===========================================================================*/
/* global styles                                                             */
/*===========================================================================*/
body {
  font-family: 'Didact Gothic', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilda Display', serif;
  letter-spacing: 2px;
}

a {
  color: $blue;
}

p {
  font-size: 1.1em;
  line-height: 1.75;
  letter-spacing: 1px;
}

/*===========================================================================*/
/* bootstrap overrides                                                       */
/*===========================================================================*/
.nav-link {
  cursor: pointer;
}

.nav-item.active .nav-link {
  color: $blue !important;
}

.link-unstyled:active,
.link-unstyled:focus {
  outline: none;
}

.btn-unstyled {
  background-color: none;
  border: none;
  color: $blue;
}

.badge-gold {
  background-color: $gold;
  border-radius: 0;
  color: $white;
  padding-left: 10px;
  padding-right: 10px;
}

a, a:hover {
  transition: 0.3s;
}

a:hover {
  color: $gold;
  text-decoration: none;
}

/*===========================================================================*/
/* hover effect - slide down                                                 */
/*===========================================================================*/
.slide-effect a {
  overflow: hidden;
}

.slide-effect a span {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.slide-effect a span::before {
  color: $blue;
  content: attr(data-hover);
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  top: -200%;
}

.slide-effect a:hover span,
.slide-effect a:focus span {
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  transform: translateY(200%);
}

/*===========================================================================*/
/* hover effect - vertical wobble                                            */
/*===========================================================================*/
@-webkit-keyframes wobble-effect {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-effect {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-effect:hover,
.wobble-effect:focus,
.wobble-effect:active {
  -webkit-animation-name: wobble-effect;
  animation-name: wobble-effect;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*===========================================================================*/
/* hover effect - underline                                                  */
/*===========================================================================*/
.underline-effect {
  position: relative;
  &:hover {
    color: $blue;
  }
}

.underline-effect::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: $blue;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.underline-effect:hover::after,
.underline-effect:focus::after {
  height: 3px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*===========================================================================*/
/* hover effect - horizontal slide                                           */
/*===========================================================================*/
.backward-effect i,
.forward-effect i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.backward-effect:hover,
.forward-effect:hover {
  color: $blue;
}

.backward-effect:hover i,
.backward-effect:focus i,
.backward-effect:active i {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.forward-effect:hover i,
.forward-effect:focus i,
.forward-effect:active i {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/*===========================================================================*/
/* nav                                                                       */
/*===========================================================================*/
.navbar {
  img {
    border-radius: 100%;
    width: 80px;
  }
  .navbar-brand {
    font-family: 'Gilda Display', serif;
    color: $black;
    &:hover, &:active {
      color: $gold;
    }
  }
}

/*===========================================================================*/
/* about                                                                     */
/*===========================================================================*/
#about {
  padding: 3em 1em;
  h1 {
    color: $blue;
  }
}

/*===========================================================================*/
/* search                                                                    */
/*===========================================================================*/
#search {
  .close {
    color: $blue;
    font-size: 3em;
  }
  .modal-fullscreen {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    .modal-content {
      border-radius: 0;
      min-height: 100vh;
      padding: 1em 4em;
      width: 100vw;
    }
    .modal-header {
      border: none;
    }
    .modal-body {
      margin-top: 10%;
    }
  }
  #search_box {
    border: none;
    border-bottom: 1px solid lighten($black, 50%);
    border-radius: 0;
    &::placeholder {
      opacity: 0.3;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-append {
    button {
      border: none;
      font-size: 2em;
      transition: all 0.3s;
      &:hover {
        color: darken($blue, 15%);
        cursor: pointer;
        transition: all 0.3s;
      }
      &:active, &:focus {
        outline: 0;
      }
    }
  }
  #search_results {
    margin-top: 2em;
    .results-header {
      font-size: 2em;
      margin-bottom: 1em;
      opacity: 0.5;
    }
    .result {
      margin-bottom: 1em;  
      .title {
        font-size: 1.25em;
      }
    }
  }
}

@media (max-width: 575.98px) {
  #search_box {
    font-size: 1em;
  }
}

/*===========================================================================*/
/* org login message page                                                    */
/*===========================================================================*/
.login-message {
  background-image: url(/images/planetexpress-login.jpg);
  background-repeat: no-repeat;
  background-position: center-bottom;
  background-size: cover;
}

/*===========================================================================*/
/* splash header                                                             */
/*===========================================================================*/
.splashspace {
  color: $white;
  position: relative;
  div[class|='border'] {
    content: "";
    position: absolute;
    width: 35px;
  }
  div[class|='border-left'] {
    left: 0;
  }
  div[class|='border-right'] {
    right: 0;
  }
  div[class*='top'] {
    background-color: $white;
    bottom: 50%;
    top: 0;
  }
  div[class*='bottom'] {
    background-color: $deep-blue;
    bottom: 0;
    top: 50%;
  }
  img.splash {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .splash-text {
    left: 35px;
    padding-left: 1em;
    position: absolute;
    top: 50%;
    h1 {
      font-size: 5em;
      letter-spacing: 15px;
      transform: translate(0, -45%);
    }
    h3 {
      letter-spacing: 15px;
      transform: translate(0, -105%);
    }
  }
}

@media (max-width: 768px) {
  .splashspace {
    .splash-text {
      font-size: 0.5em;
    }
  }
}

/*===========================================================================*/
/* blog feed                                                                 */
/*===========================================================================*/
.content {
  background-color: $deep-blue;
  color: $white;
}

.blogfeed {
  padding-top: 5em;
  padding-bottom: 5em;
  .row {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}

.postcard {
  background-color: $white;
  color: $black;
  padding: 2em;
}

@media (max-width: 991.98px) {
  .postcard .title {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .postcard {
    margin-left: -50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); 
  }
}

.date {
  font-size: 0.95em;
  font-weight: bold;
  opacity: 0.4;
  text-transform: uppercase;
}

.excerpt {
  font-size: 0.85em;
}

/*===========================================================================*/
/* post                                                                      */
/*===========================================================================*/
.postsplash {
  background: rgba($white, 0.75);
  color: $black;
  left: 50%;
  padding: 2em 5em;
  position: absolute;
  top: 100%;
  transform: translate(-50%, -100%);
  .title {
    font-size: 2em;
  }
  .date {
    margin-bottom: 0;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .postsplash {
    padding: 2em;
    .title {
      font-size: 1.5em;
    }
    .date {
      font-size: 0.8em;
    }
  }
}

.post-container {
  background-color: $deep-blue;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
}

.post {
  background: $white;
  color: $black;
  padding: 5em 2.5em;
  .pagination {
    font-size: 1.15em;
    margin-top: 2.5em;
  }
  .divider {
    border: 2px solid lighten($black, 25%);
    margin-top: 7em;
    margin-bottom: 7em;
    width: 50%;
  }
}

.caption-img {
  margin-top: 3em;
  margin-bottom: 3em;
  .caption {
    border-left: 10px solid $deep-blue;
    font-size: 0.85em;
    opacity: 0.6;
    padding: 1em 1em 0 1em;
  }
}

.code-block {
  background-color: #e9e9e9;
  margin-bottom: 2em;
  .header {
    background-color: #cfcfcf;
    padding: 1em;
    code {
      color: $blue;
    }
  }
  .code {
    font-size: 1em;
    padding: 1em;
    pre {
      font-size: inherit;
    }
    code {
      color: $black;
    }
    .comment {
      opacity: 0.3;
    }
  }
}

.note {
  margin-bottom: 1em;
  padding: 1em;
  .label {
    background-color: $blue;
    color: $white;
    padding-left: 1em;
  }
  .vertical-rule {
    border-right: 1px solid darken($blue, 15%);
    padding-left: 1em;
  }
  .text {
    background-color: #f3f3f3;
    padding: 1em;
  }
}

/*===========================================================================*/
/* archive                                                                   */
/*===========================================================================*/
.archived-post {
  background-color: $white;
  color: $black;
  & .date:first-child {
    color: $white;
    font-size: 0.75em;
    font-weight: normal;
    left: 0;
    letter-spacing: 4px;
    margin-left: -30px;
    position: absolute;
    writing-mode: vertical-rl;
  }
}

.postblurb {
  padding: 0 1em;
  p {
    margin-bottom: 0;
  }
  .title {
    font-size: 1.5em;
  }
  .date {
    display: none;
  }
  .excerpt {
    font-size: 0.85em;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 992px) {
  .postblurb {
    .more {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .archived-post {
    & .date:first-child {
      display: none;
    }
  }
  .postblurb {
    .title {
      font-size: 1em;
    }
    .date {
      display: block;
      font-size: 0.75em;
    }
    .excerpt {
      display: none;
    }
  }
}

/*===========================================================================*/
/* footer                                                                    */
/*===========================================================================*/
.footer {
  background-color: darken($deep-blue, 40%);
  color: $white;
  padding-top: 1.5em;
  padding-bottom: 1em;
  h6 {
    font-size: 0.9em;
  }
}
